mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
}

mat-toolbar a {
  color: #FFF;
  text-decoration: none;
}

mat-toolbar > a h1 {
  font-size: 2rem;
}


mat-toolbar ul {
  list-style: none;
}

mat-toolbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

mat-toolbar ul li a.add-book {
  background: #34AF16;
  padding-top: 3px;
  padding-bottom: 3px;
  padding: .1rem 1.2rem .2rem .8rem;
}

mat-toolbar ul li a mat-label {
  margin-left: .5rem;
}

mat-toolbar ul li a mat-icon {
  vertical-align: middle;
}

