form mat-form-field {
  width: 100%;
}

form mat-form-field mat-error {
  font-size: .9rem;
}

form > button {
  display: block;
  margin: 0 auto;
}

mat-spinner {
  margin: auto;
}

.image-container {
  margin: .5rem 0 1.6rem;
}

.image-container button {
  display: block;
}

.image-container img {
  height: 22rem;
  width: 18rem;
  display: block;
  margin: 2rem auto .5rem auto;
}

.image-container input[type="file"] {
  display: none;
}

.image-container mat-error {
  margin-left: .8rem;
  margin-top: .5rem;
}
