<mat-card *ngIf="!isLoading">
  <form [formGroup]="bookForm" (ngSubmit)="handleSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput name="title" formControlName="title">
      <mat-error *ngIf="bookForm.get('title').hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="bookForm.get('title').hasError('minlength')">
        O nome deve ter no mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <div class="image-container">
      <button mat-stroked-button type="button" (click)="fileSelect.click()">
        Selecionar imagem
      </button>
      <input type="file" (change)="handleSelectImage($event)" #fileSelect />
      <img [src]="imagePreview" *ngIf="imagePreview" />
      <mat-error *ngIf="bookForm.get('image').hasError('invalidMimeType')">
        Imagem inválida
      </mat-error>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input matInput name="author" formControlName="author">
      <mat-error *ngIf="bookForm.get('author').hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="bookForm.get('author').hasError('minlength')">
        O nome do autor deve ter no mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Total de Páginas</mat-label>
      <input type="number" matInput name="totalPages" formControlName="totalPages">
      <mat-error *ngIf="bookForm.get('totalPages').hasError('required')">
        Campo obrigatório
      </mat-error>
      <mat-error *ngIf="bookForm.get('totalPages').hasError('min')">
        O número de página deve ser maior que 0
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
      Salvar
    </button>
  </form>
</mat-card>

<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
