main {
  max-width: 700px;
  margin: 0 auto;
  margin: 2rem auto;
}

.books-list {
  margin: 3rem 0;
}

.books-list h1 {
  font-size: 3rem;
  font-weight: 700;
}

.books-list mat-divider {
  margin: 2rem 0 1.6rem 0;
  font-size: 700px;
}
