<header>
  <h1>Livros</h1>
  <mat-divider></mat-divider>
</header>

<mat-accordion *ngIf="books.length">
  <mat-expansion-panel *ngFor="let book of books">
    <mat-expansion-panel-header>{{book.title}}</mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <img [src]="book.imageUrl" *ngIf="book.imageUrl" [alt]="book.title" />
    <p>
      <strong>Autor:</strong>
      {{book.author}}
    </p>

    <p>
      <strong>Total de Páginas:</strong>
      {{book.totalPages}}
    </p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['edit', book.id]">
        Editar
      </button>
      <button mat-button color="warn" (click)="handleRemoveBook(book.id)">
        Remover
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

<p class="any-book" *ngIf="!books.length && !isLoading">
  Nenhum livro cadastrado
</p>
