mat-expansion-panel-header {
  font-weight: 500;
  font-size: 1.2rem;
}

mat-divider {
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

p.any-book {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2.5rem;
}
